
:root {

    /* the new colors: TODO: fix var names :)  */ /*375px;*/
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em; /* 20px; */ /* 1em; */ /*16px;*/ /* 16px standard */
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 1.37;
}

/* all we do is crank up the base font since everything is rem */
/* TODO: use vars somehow? */
/* TODO: revisit cut points when base now is 1.25em */
@media (min-width: 30em) and (max-width: 36em) {
  html {
   font-size: 1.5em;
  }
}
@media (min-width: 36em) {
  html {
    font-size: 1.5em;
  }
}

body {
  margin: 0;
  padding: 0;
}

/*
a {
  color: var(--warm-pink);
}
*/

a {
  color: inherit;
}

header {
  margin: 0;
  padding-top: 40px;
  padding-top: 2rem;
  padding-bottom: 40px;
  padding-bottom: 2rem;
  background: #e5dac5;
  position: relative;
}

.header-graphics {
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 400px;
  max-width: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%)
}


.header-graphics-v2 {
  display: none;
  position: absolute;
  top: 25%;
  max-width: 400px;
  max-width: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
  z-index: 1;
}

/*
{
  background: var(--beige);
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.7);
}
*/
.section-container {
  background: #e5dac5;
}
.section-container.expanded {
  background: #7f4e99;
}
.section-container.expanded.customers {
  /*background: var(--purple);*/
}
.section-container.expanded.team-lixor {
  /*background: var(--violet);*/
}
.section-container.expanded .section {
  color: rgba(255, 255, 255, .8);
}
.section-container.expanded .section h3 {
  color: #ffd48c;
}
/* just section then right :) */
.section-container > * {
  max-width: 400px;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.section-container:last-of-type {
  padding-bottom: 30px;
  padding-bottom: 1.5rem;
}

footer {
  background: #2e2929;
  color: #ff4476;
  padding: 60px 30px 80px;
  padding: 3rem 1.5rem 4rem;
  position: relative;
  overflow: hidden;
}
footer > * {
  max-width: 400px;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-graphics {
  position: absolute;
  top: 25%;
  max-width: 400px;
  max-width: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
}

.footer-graphics-container {
  overflow: hidden;

}

.section {
  margin: 0 auto;
  padding: 30px;
  padding: 1.5rem; /* 1.5rem 2.5rem 1.5rem 2.5rem; */
  position: relative;
  color: rgba(0, 0, 0, .7);
  max-width: 400px;
  max-width: 20rem;
}

/* TODO: do something more explicit size-wise? */
.section_tmp_skip::before {
  position: absolute;
  content: "•";
  color: #ff4476;
  font-family: serif;
  font-size: 100px;
  font-size: 5rem;
  left: 15px;
  left: 0.75rem; /*0.5rem;*/
  top: 36px;
  top: 1.8rem;
  line-height: 30px;
  line-height: 1.5rem; /* ugly */
}


/* TODO: fix svg arrows instead of character! */
.section:before {
  position: absolute;
  left: 15px;
  left: 0.75rem;
  top: 34px;
  top: 1.7rem;
  width: 35px;
  width: 1.75rem;
  height: 35px;
  height: 1.75rem;
  background: #ff4476;
  border-radius: 50%;
  content: "↓"; /*"↓";*/
  color: #2e2929;
  text-align: center;
  line-height: 35px;
  line-height: 1.75rem; /* needed? */
  font-size: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.section-container.expanded .section:before {
  content: "↑";
  color: #ffffff;
}


.team-lixor ul {
  list-style-type: none;
  padding: 0;
}

blockquote {
  margin: 0;
  font-size: 25px;
  font-size: 1.25rem;
  font-style: italic;
}


.team-member {
  padding-top: 20px;
  padding-top: 1rem;
}
.team-member:first-of-type {
  padding-top: 40px;
  padding-top: 2rem;
}

/* TODO: has to figure out layout for this */
/*
.team-member:nth-of-type(n + 1) {
  background: var(--services-small);
}
.team-member:nth-of-type(n + 2) {
  background: var(--services-medium);
}
.team-member:nth-of-type(n + 3) {
  background: var(--lixor-pink);
}
*/

.image-container img {
  display: block;
  width: 100%;
}

.customers .image-container.customer-logo {
  margin: 60px 20px 30px;
  margin: 3rem 1rem 1.5rem;
}

/* TODO: can this happen neater? */
.customers .button {
  text-align: center;
}

.customers a[href^="mailto:"] {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  padding: 0 0.5rem;
  margin: 10px 0;
  margin: 0.5rem 0;
  background: #ffd48c;
  color: #2e2929;
  text-decoration: none;
  border-radius: 0.4444rem;
  line-height: 40px;
  line-height: 2rem;
}


/* TODO: page margins needs to be a var! :) */
/* TODO: this only looks good on a screen where the photo fills the entire width */
.team-member-photo {
  margin: 0 -30px;
  margin: 0 -1.5rem;
  position: relative;
}

.team-member-photo:after {
  content: "";
  position: absolute;
  background-image: url("../media/icon/linkedin.svg");
  width: 50px;
  width: 2.5rem;
  height: 50px;
  height: 2.5rem;
  bottom: 20px;
  bottom: 1rem;
  right: 20px;
  right: 1rem;
  background-clip: content-box;
  background-size: contain;
}

.team-member-photo img {
  display: block;
  width: 100%;
}

/* inherit for all a tags? */
.team-lixor a {
  color: inherit;
  padding: 0;
  text-decoration: none;
}

.team-lixor a[href^="mailto:"]:before, .team-lixor a[href^="tel:"]:before {
  content: " ";
  display: inline-block;
  background-clip: content-box;
  background-size: contain;
  width: 30px;
  width: 1.5rem;
  height: 30px;
  height: 1.5rem;
  vertical-align: middle;
  padding-right: 10px;
  padding-right: .5rem;
}

.team-lixor a[href^="mailto:"]:before {
  background-image: url("../media/icon/email.svg");
}
.team-lixor a[href^="tel:"]:before {
  background-image: url("../media/icon/mobile.svg");
}

.section h2 {
  margin-top: 0; /* nasty fix for footer spacing */
  display: inline-block;
  font-weight: normal;
  font-size: 40px;
  font-size: 2rem; /*1.6rem;*/
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
  line-height: 40px;
  line-height: 2rem;
}

.section h3 {
  font-size: 22px;
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 5px;
  margin-bottom: 0.25rem;
}

.section h2+p {
  margin-top: 0;
}

.section p {
  margin: 0;
}
.section p+p {
  margin-top: 10px;
  margin-top: 0.5rem;
}

/* TODO: if we go down this path - add big dot here */
.section .section-summary h2 {
  padding-left: 30px;
  padding-left: 1.5rem;
}

.section-container.expanded .section .section-summary p:last-of-type:after {
  display: none;
}

.section .section-body {
  display: none;
}

.section-container.expanded .section-body {
  display: block;
}

.section .read-more {
  text-decoration: none;
  color: #ff4476;
  font-family: serif;
}

footer .quote {
  font-family: 'Lora', serif;
  font-size: 35px;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 1rem;
}

footer .quote-source {
  color: #ffd48c;
  text-align: center;
}

footer .mail-container {
  text-align: center;
}
footer .highfive-mail {
  display: inline-block;
  padding: 10px 20px;
  padding: 0.5rem 1rem;
  background: #ffd48c;
  color: #2e2929;
  text-decoration: none;
  border-radius: 0.5rem;
}

.h1-hidden {
  display: none;
}

/* TODO: sort out the logo :) */
.logo {
  color: #2e2929;
  font-family: "Helvetica Neue";
  font-weight: 900;
  line-height: 0.9;
  padding: 20px;
  padding: 1rem;
  font-size: 90px;
  font-size: 4.5rem;
  text-align: center;
}
.logo--footer {
  color: #ffffff;
  font-size: 35px;
  font-size: 1.75rem;
  margin-top: 80px;
  margin-top: 4rem;
  margin-bottom: 40px;
  margin-bottom: 2rem;
}
.logo--normal {
  display: inline-block;
}

.logo--flip {
  display: inline-block;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  margin-left: -22px;
  margin-left: -1.1rem;
}

.logo--dot {
  color: #ff4476;
  font-family: serif;
  line-height: 0; /* TODO: hack */
  z-index: -1;
}
