
html {
  font-size: 16px;
  font-family: "Lato";
  font-weight: normal;
  line-height: 1.37;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  background: #e5dac5;
}
/*
{
  background: var(--beige);
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.7);
}
*/
.section-container {
  padding-top: 16px;
  padding-top: 1rem;
  background: #e5dac5;
}
.section-container.expanded {
  background: #7f4e99;
}
.section-container.expanded .section {
  color: rgba(255, 255, 255, .8);
}
.section-container.expanded .section h3 {
  color: #ffd48c;
}
/* just section then right :) */
.section-container > * {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #000000;
  color: #ff4476;
  padding: 48px 24px 64px;
  padding: 3rem 1.5rem 4rem;
}
footer > * {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin: 0 16px 0 40px;
  margin: 0 1rem 0 2.5rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  position: relative;
  color: rgba(0, 0, 0, .7);
  max-width: 375px;
}

/* TODO: do something more explicit size-wise? */
.section:before {
  position: absolute;
  content: "•";
  color: #ff4476;
  font-family: serif;
  font-size: 80px;
  font-size: 5rem;
  left: -32px;
  left: -2rem;
  top: 20.8px;
  top: 1.3rem;
  line-height: 24px;
  line-height: 1.5rem; /* ugly */
}

.section h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 32px;
  font-size: 2rem;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  line-height: 32px;
  line-height: 2rem;
}

.section h2+p {
  margin-top: 0;
}

.section .section-body {
  display: none;
}

.section-container.expanded .section-body {
  display: block;
}

footer .quote {
  font-family: Lora;
  font-size: 28px;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

footer .quote-source {
  color: #ffd48c;
  text-align: center;
}

footer .mail-container {
  text-align: center;
}
footer .highfive-mail {
  display: inline-block;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  background: #ffd48c;
  color: #000000;
  text-decoration: none;
  border-radius: 0.5rem;
}

.h1-hidden {
  display: none;
}

/* TODO: sort out the logo :) */
.logo {
  color: #000000;
  font-family: "Helvetica Neue";
  font-weight: 900;
  line-height: 0.9;
  padding: 16px;
  padding: 1rem;
  font-size: 72px;
  font-size: 4.5rem;
  text-align: center;
}
.logo--footer {
  color: #ffffff;
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 64px;
  margin-top: 4rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.logo--normal {
  display: inline-block;
}

.logo--flip {
  display: inline-block;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  margin-left: -17.6px;
  margin-left: -1.1rem;
}

.logo--dot {
  color: #ff4476;
  font-family: serif;
  line-height: 0; /* TODO: hack */
}


