<footer>

  <svg class="footer-graphics" viewBox="0 0 1000 900" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
      <g id="Path-3" transform="translate(1.000000, 1.000000)" stroke="#FF4476">
        <path d="M217.884511,901.115691 L867.115489,237.884309" stroke-width="1.7699115"></path>
        <path d="M3.88454707,3.88492063 L998.115453,894.115079" stroke-width="8.84955752"></path>
        <path d="M0.884458078,0.886029412 L864.115542,240.113971" stroke-width="1.7699115"></path>
      </g>
    </g>
  </svg>

  <p class="quote">
    When everything is connected to everything else, everything matters.
  </p>
  <p class="quote-source">
    - Bruce Mau
  </p>
  <div class="logo logo--footer">
    <div class="logo--normal">LIX</div>
    <br>
    <div class="logo--flip">OR<span class="logo--dot">.</span></div>
  </div>
  <div class="mail-container">
    <a class="highfive-mail" href="mailto:iwantmyhighfive@lixor.se">iwantmyhighfive@lixor.se</a>
  </div>


</footer>

