<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <!-- TODO: do this via HTTP header instead? -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Lixor</title>

    <meta name="description" content="Lixor site...">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <header>
      <h1 class="h1-hidden">Lixor</h1>

      <svg class="header-graphics" version="1.1" viewBox="0 0 424 284">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <path d="M432.5,29.5 L0,252.5" stroke="#000000"></path>
          <path d="M140,138 L0,239.5" stroke="#000000"></path>
          <path d="M302.5,0 L0,195.5" stroke="#000000" stroke-width="5"></path>
        </g>
      </svg>

<svg class="header-graphics-v2" viewBox="0 0 1000 607" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Path-2" stroke="#000000">
            <g>
                <path d="M999.198718,0.800791557 L4.00641026,602.996042" stroke-width="1.6025641"></path>
                <path d="M454.326923,287.484169 L0.801282051,606.199208" stroke-width="1.6025641"></path>
                <path d="M754.00641,8.80870712 L4.00641026,602.996042" stroke-width="8.01282051"></path>
            </g>
        </g>
    </g>
</svg>

      <div class="logo">
        <div class="logo--normal">LIX</div>
        <br>
        <div class="logo--flip">OR<span class="logo--dot">.</span></div>
      </div>
    </header>

    {{ range .Site.Taxonomies.groups.mainsections }}
    <div class="section-container">
      <div class="section">
        {{ .Page.Summary  }}

        <div class="section-body">
          {{ $body := replace .Page.Content .Page.Summary "" }}
          {{ $body | safeHTML }}
        </div>
      </div>
    </div>
    {{ end }}

    {{ partial "footer.html" . }}

    <script src="js/index.js"></script>
  </body>
</html>

