<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <!-- TODO: do this via HTTP header instead? -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Lixor!</title>

    <meta name="description" content="Lixor site...">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Lora" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1 class="h1-hidden">Lixor</h1>

      <svg class="header-graphics" version="1.1" viewBox="0 0 424 284">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <path d="M432.5,29.5 L0,252.5" stroke="#000000"></path>
          <path d="M140,138 L0,239.5" stroke="#000000"></path>
          <path d="M302.5,0 L0,195.5" stroke="#000000" stroke-width="5"></path>
        </g>
      </svg>

      <div class="logo">
        <div class="logo--normal">LIX</div>
        <br>
        <div class="logo--flip">OR<span class="logo--dot">.</span></div>
      </div>
    </header>

    <main class="main">
      {{ range .Site.Taxonomies.groups.mainsections }}
        <section class="section section--{{ .Page.Section }}">
          <div class="section-summary">
            {{ .Page.Content }}
          </div>
          <div class="section-body">
            {{ range where $.Site.Pages "Section" .Page.Section }}
              {{ $isIndex := in .Params.groups "mainsections" }}
              {{ if not $isIndex }}
                <div class="section-body-part{{ if isset .Params "name" }} section-body-part--{{ .Params.name }}{{ end }}">
                  <div class="section-body-part-inner">
                    {{ .Content }}
                  </div>
                </div>
              {{ end }}
            {{ end }}
          </div>
        </section>
      {{ end }}
    </main>

    {{ partial "footer.html" . }}

    <script src="js/index.js"></script>
  </body>
</html>
