/*vars - TODO rename vars to only be semantics and not descriptive of current value*/
$primary-color: #1cb389; /*#00b488;*/
$primary-color-see-through: rgba(28, 179, 137, 1);
$contrast-primary-color: #fff;
$pinky-color: #e786bb; /*#e984bc;*/
$wintery-color: #4ad5b2; /*#41d6b2;*/
$peachy-color: #ec818b; /*#ee8089;*/
$text-color: #3d322d;
$grey-color: #b3c1c5;
$white-color: #fff;
$off-white-color: #F1F1F1;
$jungle-mist-color: #B3C1C5;

$standard-width: 320px;
$max-width: 640px;
$font-size-base: 18px;
$line-height-base: 1.3;
$font-base-weight: 400;

/*$font-family-sans-serif: 'Helvetica Neue';*/
/*$font-family-serif: Palatino;*/

$font-family-sans-serif: Roboto, sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$font-family-quotes: calluna, serif;


* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family-serif;
  /*'Helvetica Neue';*/
  font-weight: $font-base-weight;
  font-size: $font-size-base;
  line-height: $line-height-base;

  /*not really needed?*/
  background: $off-white-color;
}

h1,h2 {
    font-family: $font-family-sans-serif;
    font-weight: 500;

}

/* TODO: what to do with > 640px viewports? */
body > * {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  /*padding: 16px;*/
  /*padding: 1rem;*/
  /*padding: 2rem;*/
  padding: 1rem; /* TODO: too little on wide small screens :) */
}

header {

  padding-top: 3rem;
  padding-bottom: 2rem;

  text-align: center;
  /*font-family: $font-family-sans-serif;*/
  background: $white-color;

  /*
    TODO: we need an svg or actually
    Helvetica Extra Bold from somewhere
  */

  h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    color: $primary-color;
  }

  p {
    font-family: $font-family-sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

section {
  h2 {
    /*font-family: $font-family-sans-serif;*/
    font-size: 1.5rem;
  }
}

.fall-in-love {
  /* tint-filter hack - a color in itself is not allowed */
  /* so you can do lots with the blend-mode - but it might be better to go with a normal image? */
  background: linear-gradient(
                $primary-color-see-through,
                $primary-color-see-through
              ),
              url('../images/hands-bw.jpg') center / cover no-repeat;
  background-blend-mode: overlay, overlay;

  p {
    font-family: $font-family-quotes;
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  padding: 3rem 4rem;
}

.why-lixor {

  ul {
      /*font-family: $font-family-serif;*/
      list-style-type: none;
      padding: 0;
  }

  li {
      margin: 16px 0;
      position: relative;
      padding-left: 16px;

      &::before {
          content: '+';
          position: absolute;
          left: 0;
      }
  }

  a.book-meeting {
      width: 100%;
      border-radius: 36px;
      text-align: center;
      display: block;
      color: $contrast-primary-color;
      font-family: $font-family-sans-serif;
      background-color: $primary-color;
      line-height: 3;
      text-decoration: none;
      margin: 32px 0;
  }
}

.cases {
    color: $contrast-primary-color; /* only for headers though */
    margin-bottom: 0;
    padding: 0;

    .case {
        padding: 1rem;
        text-align: center;
        /*padding: 16px 0;*/
        h2 {
            text-transform: uppercase;
            font-weight: 500;
            margin: 2rem 0;
        }
        blockquote {
            margin: 0 1rem;
            font-size: 2rem;
            font-family: $font-family-quotes;
            font-weight: 400;
        }
        .expand-case {
            display: inline-block;
            text-decoration: none;
            margin-top: 16px;
            font-size: 36px;
            padding: 16px;
            line-height: 1;
            color: $contrast-primary-color;
        }
    }
    .case:nth-child(n + 1) {
        background-color: $pinky-color;
    }
    .case:nth-child(n + 2) {
        background-color: $wintery-color;
    }
    .case:nth-child(n + 3) {
        background-color: $peachy-color;
    }
}

/*TODO: should be image of course :)*/
.how-do-we-help-image {
    background-color: #ddd;
    height: 400px;
    margin-top: 0;

    /*TODO: rip this out later on when images are put in*/
    position: relative;
    text-align: center;
    p {
        color: $contrast-primary-color;
        font-size: 24px;
        font-weight: lighter;

        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        width: 50%;
        height: auto;
        display: table;
    }
}

/*TODO: DRY up - looks a lot like .fall-in-love*/
.how-do-we-help {
    padding-top: 1rem;
    padding-bottom: 1rem;

    ol {
      list-style-type: none;
      counter-reset: helpings;
      padding-left: 0;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        position: relative;
        padding-left: 5.5rem;
        min-height: 4.5rem;

        &::before {
          content: counter(helpings);
          counter-increment: helpings;
          color: $white-color;
          position: absolute;
          left: 0;
          font-family: $font-family-sans-serif;
          font-weight: 900;
          font-size: 3.25rem;
          background: $jungle-mist-color;
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 2.25rem;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }


    p {
        /*font-family: $font-family-serif;*/
    }

}

footer {
    background-color: $primary-color;
    color: $contrast-primary-color; /* only for headers though */
    /*padding: 1rem 16px 5rem;*/
    padding-top: 1rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-family: $font-family-quotes;
        font-size: 2rem;
        font-weight: 400;
        margin: 2rem 3rem;
        text-align: center;
    }

    ul {
        padding: 0;
        margin: 1rem 0;
        list-style: none;

        li {
            line-height: 1.5;
        }

    }
    .contacts {
        font-family: $font-family-sans-serif;
        font-size: 1.5rem;
        a {
            color: $contrast-primary-color;
            text-decoration: none;
            display: flex;
            align-items: center;
            /*line-height: 1;*/
        }
        li + li {
          margin-top: 0.25rem;
        }
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;

        li {
            display: inline-flex;
        }

        .contact-icon {
          height: 2rem;
          width: 2rem;
          border-radius: 1rem;
          background: $wintery-color;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.75rem;
        }

        .contact-envelope-icon {
          font-size: 1rem;
        }

        .contact-mobile-icon {

        }

    }

    .address {
        font-family: $font-family-sans-serif;
        text-align: center;

        .company-name {
            font-weight: 700;
        }
    }

    a.book-meeting {
        width: 100%;
        border-radius: 36px;
        text-align: center;
        display: block;
        /*color: $primary-color;*/
        color: #000;
        font-family: $font-family-sans-serif;
        background-color: $contrast-primary-color;
        line-height: 3;
        text-decoration: none;
        margin: 32px 0;
    }
}
