
:root {
    --greyish-brown: #685b4a;
    --black: #000000;
    --white: #ffffff;
    --wheat: #ffd48c;
    --warm-pink: #ff4476;
    --beige: #e5dac5;
    --black-two: #2e2929;
    --light-grey-green: #aee193;
    --easter-purple: #d77cff;
    --duck-egg-blue: #b0f2f2;
    --powder-blue: #b0d1f2;
    --light-eggplant: #7f4e99;

    --logo-font: "Helvetica Neue";

    --small-max-width: 375px;
}

html {
  font-size: 16px;
  font-family: "Lato";
  font-weight: normal;
  line-height: 1.37;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--beige);
}
/*
{
  background: var(--beige);
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.7);
}
*/
.section-container {
  padding-top: 1rem;
  background: var(--beige);
}
.section-container.expanded {
  background: var(--light-eggplant);
}
.section-container.expanded .section {
  color: rgba(255, 255, 255, 0.8);
}
.section-container.expanded .section h3 {
  color: var(--wheat);
}
/* just section then right :) */
.section-container > * {
  max-width: var(--small-max-width);
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: var(--black);
  color: var(--warm-pink);
  padding: 3rem 1.5rem 4rem;
}
footer > * {
  max-width: var(--small-max-width);
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin: 0 1rem 0 2.5rem;
  padding-bottom: 1rem;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  max-width: var(--small-max-width);
}

/* TODO: do something more explicit size-wise? */
.section:before {
  position: absolute;
  content: "•";
  color: var(--warm-pink);
  font-family: serif;
  font-size: 5rem;
  left: -2rem;
  top: 1.3rem;
  line-height: 1.5rem; /* ugly */
}

.section h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  line-height: 2rem;
}

.section h2+p {
  margin-top: 0;
}

.section .section-body {
  display: none;
}

.section-container.expanded .section-body {
  display: block;
}

footer .quote {
  font-family: Lora;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

footer .quote-source {
  color: var(--wheat);
  text-align: center;
}

footer .mail-container {
  text-align: center;
}
footer .highfive-mail {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--wheat);
  color: var(--black);
  text-decoration: none;
  border-radius: 0.5rem;
}

.h1-hidden {
  display: none;
}

/* TODO: sort out the logo :) */
.logo {
  color: var(--black);
  font-family: var(--logo-font);
  font-weight: 900;
  line-height: 0.9;
  padding: 1rem;
  font-size: 4.5rem;
  text-align: center;
}
.logo--footer {
  color: var(--white);
  font-size: 1.75rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.logo--normal {
  display: inline-block;
}

.logo--flip {
  display: inline-block;
  transform: scale(-1, -1);
  margin-left: -1.1rem;
}

.logo--dot {
  color: var(--warm-pink);
  font-family: serif;
  line-height: 0; /* TODO: hack */
}


